# Module 9. DA- Working with Pandas (python)

## Assignment

### 1) Create a series of three different colors.

In [4]:
import numpy as np
import pandas as pd

In [6]:
s =  pd.Series({'colors':['Red','Green','Blue']})
s

colors    [Red, Green, Blue]
dtype: object

### 2) View the series of different colors.

In [9]:
s.view()

C:\Users\Acer\AppData\Local\Temp\ipykernel_12568\1897797138.py:1: FutureWarning: Series.view is deprecated and will be removed in a future version. Use ``astype`` as an alternative to change the dtype.
  s.view()

colors    [Red, Green, Blue]
dtype: object

### 3) Create a series of three different car types and view it.

In [20]:
c = pd.Series({'Car Types':['SUV','Hatchback','Sedan']})
c

Car Types    [SUV, Hatchback, Sedan]
dtype: object

### 4) Combine the Series of cars and colors into a Data Frame.

In [204]:
s = pd.Series(['Red','Green','Blue'],name='colors')
c = pd.Series(['SUV','Hatchback','Sedan'],name='Car Types')
df = pd.DataFrame({'Colors':s,'Car Types':c})
print(df) 
# or 
#df

  Colors  Car Types
0    Red        SUV
1  Green  Hatchback
2   Blue      Sedan

### 5) Find the different datatypes of the car data Data Frame.

In [57]:
df.dtypes

Colors       object
Car Types    object
dtype: object

### 6) Describe your current car sales Data Frame using describe ().

In [206]:
s  = pd.Series(['Red','Green','Blue'],name = 'colors')
c  = pd.Series(['SUV','Hatchback','Sedan'],name = 'Car Types')
cs = pd.Series([500,700,900],name = 'Car Sales')

df = pd.DataFrame({'Colors':s,'Car Types':c,'Car Sales':cs})

print(df)
print()
print("Summery of dataframe are :\n\n",df.describe())

  Colors  Car Types  Car Sales
0    Red        SUV        500
1  Green  Hatchback        700
2   Blue      Sedan        900

Summery of dataframe are :

        Car Sales
count        3.0
mean       700.0
std        200.0
min        500.0
25%        600.0
50%        700.0
75%        800.0
max        900.0

In [66]:
df.describe(include='all')

       Colors Car Types  Car Sales
count       3         3        3.0
unique      3         3        NaN
top       Red       SUV        NaN
freq        1         1        NaN
mean      NaN       NaN      700.0
std       NaN       NaN      200.0
min       NaN       NaN      500.0
25%       NaN       NaN      600.0
50%       NaN       NaN      700.0
75%       NaN       NaN      800.0
max       NaN       NaN      900.0

### 7) Get information about your Data Frame using info ().

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Colors     3 non-null      object
 1   Car Types  3 non-null      object
 2   Car Sales  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

### 8) Create a Series of different numbers and find the mean of them.

In [83]:
S = pd.Series([41,21,31,51,61,91,11])
print(S)
print("Mean of a Series :",S.mean())

0    41
1    21
2    31
3    51
4    61
5    91
6    11
dtype: int64
Mean of a Series : 43.857142857142854

### 9) Create a Series of different numbers and find the sum of them.

In [81]:
S = pd.Series([41,21,31,51,61,91,11])
print("Sum of a series :",S.sum())

Sum of a series : 307

### 10) List out all the column names of the car sales Data Frame.

In [200]:
s  = pd.Series(['Red','Green','Blue'],name = 'colors')
c  = pd.Series(['SUV','Hatchback','Sedan'],name = 'Car Types')
cs = pd.Series([500,700,900],name = 'Car Sales')

df = pd.DataFrame({'Colors':s,'Car Types':c,'Car Sales':cs})

print("List of all column names is :",list(df.columns))

List of all column names is : ['Colors', 'Car Types', 'Car Sales']

### 11) Find the length of the car sales Data Frame.

In [198]:
s  = pd.Series(['Red','Green','Blue'],name = 'colors')
c  = pd.Series(['SUV','Hatchback','Sedan'],name = 'Car Types')
cs = pd.Series([500,700,900],name = 'Car Sales')

df = pd.DataFrame({'Colors':s,'Car Types':c,'Car Sales':cs})

print("The lenght of the car sales dataframe is ",len(df))

The lenght of the car sales dataframe is  3

### 12) Show the first 5 rows of the car sales Data Frame.

In [129]:
s  = pd.Series(['Red','Green','Blue','White','Black','Yellow','Gray','Silver','Blue','White','Black','Red'],name = 'colors')
c  = pd.Series(['SUV','Hatchback','Sedan','Convertible','SUV','Hatchback','Minivan','Sedan','SUV','Hatchback','Sedan','Pickup truck'],name = 'Car Types')
cs = pd.Series([500,700,900,1000,300,200,400,300,910,800,1100,200],name = 'Car Sales')

df = pd.DataFrame({'Colors':s,'Car Types':c,'Car Sales':cs})

print("The first 5 rows of the car sales dataframe :\n",df.head())

#or

print("\nThe first 5 rows of the car sales dataframe :\n",df.head(5))

#or

print("\nThe first 5 rows of the car sales dataframe :\n",df[0:5])

The first 5 rows of the car sales dataframe :
   Colors    Car Types  Car Sales
0    Red          SUV        500
1  Green    Hatchback        700
2   Blue        Sedan        900
3  White  Convertible       1000
4  Black          SUV        300

The first 5 rows of the car sales dataframe :
   Colors    Car Types  Car Sales
0    Red          SUV        500
1  Green    Hatchback        700
2   Blue        Sedan        900
3  White  Convertible       1000
4  Black          SUV        300

The first 5 rows of the car sales dataframe :
   Colors    Car Types  Car Sales
0    Red          SUV        500
1  Green    Hatchback        700
2   Blue        Sedan        900
3  White  Convertible       1000
4  Black          SUV        300

### 13) Show the first 7 rows of the car sales Data Frame.

In [132]:
print("The first 7 rows of the car sales dataframe :\n",df.head(7))

# or

print("\nThe first 7 rows of the car sales dataframe :\n",df[0:7])

The first 7 rows of the car sales dataframe :
    Colors    Car Types  Car Sales
0     Red          SUV        500
1   Green    Hatchback        700
2    Blue        Sedan        900
3   White  Convertible       1000
4   Black          SUV        300
5  Yellow    Hatchback        200
6    Gray      Minivan        400

The first 7 rows of the car sales dataframe :
    Colors    Car Types  Car Sales
0     Red          SUV        500
1   Green    Hatchback        700
2    Blue        Sedan        900
3   White  Convertible       1000
4   Black          SUV        300
5  Yellow    Hatchback        200
6    Gray      Minivan        400

### 14) Show the bottom 5 rows of the car sales Data Frame.

In [154]:
print("\nThe bottom 5 rows of the car sales dataframe  are :\n\n",df.tail()) 

#or

print("\nThe bottom 5 rows of the car sales dataframe  are :\n\n",df.tail(5))

#or

print("\nThe bottom 5 rows of the car sales dataframe  are :\n\n",df[-5:])

The bottom 5 rows of the car sales dataframe  are :

     Colors     Car Types  Car Sales
7   Silver         Sedan        300
8     Blue           SUV        910
9    White     Hatchback        800
10   Black         Sedan       1100
11     Red  Pickup truck        200

The bottom 5 rows of the car sales dataframe  are :

     Colors     Car Types  Car Sales
7   Silver         Sedan        300
8     Blue           SUV        910
9    White     Hatchback        800
10   Black         Sedan       1100
11     Red  Pickup truck        200

The bottom 5 rows of the car sales dataframe  are :

     Colors     Car Types  Car Sales
7   Silver         Sedan        300
8     Blue           SUV        910
9    White     Hatchback        800
10   Black         Sedan       1100
11     Red  Pickup truck        200

### 15) Use .loc to select the row at index 3 of the car sales Data Frame.

In [175]:
print("Show the row at index 3 in dataframe is :\n\n",df.loc[3])

Show the row at index 3 in dataframe is :

 Colors             White
Car Types    Convertible
Car Sales           1000
Name: 3, dtype: object

### 16) Use. iloc to select the row at position 3 of the car sales Data Frame.

In [177]:
print("Show the row at postion 3 in dataframe is :\n\n",df.iloc[[3]])

Show the row at postion 3 in dataframe is :

   Colors    Car Types  Car Sales
3  White  Convertible       1000

### 17) Create a crosstab of the Make and Doors columns.

In [190]:
data = {
    'Make': ['Toyota', 'Honda', 'Ford', 'Toyota', 'Honda', 'Ford', 'Toyota'],
    'Doors': [4, 4, 4, 2, 2, 2, 4],
    'Sales': [500, 700, 300, 400, 600, 200, 450]
}
df = pd.DataFrame(data)

print("Data frame is :\n",df)

crosstab_result = pd.crosstab(df['Make'], df['Doors'])

print("\nA crosstab of the make and doors columns are :\n",crosstab_result)

Data frame is :
      Make  Doors  Sales
0  Toyota      4    500
1   Honda      4    700
2    Ford      4    300
3  Toyota      2    400
4   Honda      2    600
5    Ford      2    200
6  Toyota      4    450

A crosstab of the make and doors columns are :
 Doors   2  4
Make
Ford    1  1
Honda   1  1
Toyota  1  2